.pos-nudge-down-right {
    position: relative;
    top: 12px;
    left: 12px;
}

.float-stop {
    clear: both;
}

.wd-bottom-left {
    position: absolute;
    bottom: 8px;
    left: 16px;
    font-size: 25px;
}

.wd-bottom-left-above {
    position: absolute;
    bottom: 40px;
    left: 16px;
    font-size: 12px;
}

.wd-text-over-img {
    position: relative;
    text-align: center;
    color: white;
}


.margin-on-right {
    margin-right: 5px;
}

.wd-search-bar-color {
    background-color: white;
}

.wd-rounded-left {
    border-top-left-radius: 40px;
    border-bottom-left-radius: 40px;
}

.wd-rounded-right {
    border-top-right-radius: 40px;
    border-bottom-right-radius: 40px;
}


.wd-no-left-border {
    border-left: none;
}

.wd-no-right-border {
    border-right: none;
}

.wd-background-gray {
    background-color: #f1f9fb;
    border-top: #0091b5;
    border-bottom: #0091b5;
    border-left-color: #fff;
    border-right-color: #fff;
}

.wd-border-white {
    border-top: white;
    border-bottom: white;
    border-left-color: white;
    border-right-color: white;
}

.wd-updown-border-white {
    border-top: white;
    border-bottom: white;
    border-left-color: #f3f1f1;
    border-right-color: #f3f1f1;
}

.wd-border-bottom-blue {
    border-bottom-color: dodgerblue;
}

.form-group {
    position: relative;
}

.wd-bottom-border {
    border-bottom: #0c63e4 solid 3px;
}

